@model List<Post>

<div class="gadget">
    <h2 class="star"><span>Last Posts</span></h2>
    <div class="clr"></div>
    <ul class="ex_menu">
        <li>
            @for (int i = Model.Count - 1; i >= 0; i--)
            {
                <a href="#">
                    @Model[i].PostWrite
                </a>

                <br />

            }

        </li>

    </ul>
</div>