@*@model Post
<form asp-controller="Admin" asp-action="CreatePost" asp-area="Management"  method="post" enctype="multipart/form-data">
    
    <div class="mb-3">
        <label class="form-label" asp-for="PostTitle">Title</label>
        <input type="text" class="form-control" asp-for="PostTitle"/>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="PostWrite">Post</label>
        <textarea rows="10" wrap="soft" asp-for="PostWrite" class="form-control"></textarea>
    </div>
   
   
    
    <div class="mb-3">
        
        <label asp-for="Dosya">Picture</label>
        <input type="file" asp-for="Dosya" class="form-control"/>
    </div>


    <button type="submit" class="btn btn-primary">Update</button>
    
    
</form>*@