

<a asp-controller="Admin" asp-action="CreateCategory" asp-area="Management" class="btn btn-primary" style="float:right"> Yeni Kategori Ekle</a>



<a asp-controller="Admin" asp-action="CreatePost" asp-area="Management" class="btn btn-primary" style="float:right"> Yeni Post Ekle</a>



